<aside class="sidebar">
    <div class="logo">
        <img src="assets/Logo.png" alt="Logo">
    </div>
    <button class="sidebar-button" (click)="abrirModalAdmin()">Nuevo Administrador</button>
    <button class="sidebar-button" (click)="abrirModalVehiculo()">Nuevo Vehículo</button>
    <button class="sidebar-button" (click)="abrirModalConductor()">Nuevo Conductor</button>
    <button class="sidebar-button" (click)="abrirModalPedido()">Nuevo Pedido</button>
</aside>

<header class="header">
    <div class="admin-name">
        {{ adminName }}
    </div>
</header>

<main class="main-content">
    <h1>Bienvenido!</h1>
    <div class="pending-orders">
        <span>{{ pedidos.length }} pedidos pendientes</span>
    </div>

    <div class="orders-assign">
        <!-- Lista de pedidos en bodega -->
        <div class="orders">
            <div class="order-item" *ngFor="let pedido of pedidos">
                <p><strong># Pedido:</strong> {{ pedido.id }} Dirección: {{ pedido.direccion }}</p>
                <p><strong>Localidad:</strong> {{ pedido.localidad }}</p>
            </div>
        </div>

        <!-- Menú desplegable de conductores -->
        <div class="drivers">
            <label for="selectDriver">Seleccionar Conductor:</label>
            <select id="selectDriver" class="driver-select" [(ngModel)]="selectedDriver">
                <option *ngFor="let conductor of conductores" [ngValue]="conductor">
                    {{ conductor.nombre }}
                </option>
            </select>
        </div>
    </div>

    <button class="assign-button" (click)="asignarPedido()">Asignar!</button>
</main>